[submodule "lib_internal"]
	path = lib_internal
	url = https://staticocean@bitbucket.org/staticocean/lib_internal.git
[submodule "lib_gui"]
	path = lib_gui
	url = https://staticocean@bitbucket.org/staticocean/lib_gui.git
